* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}





/* HEADER */
header {
    border: 0px solid red;
    display: grid;
    min-height: 75px;
    box-shadow: 0px 0px 5px 0px hsla(120, 0%, 0%, 1);
}

/* Navigasi */
.navigasi{
    border: 0px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* abucom */
.abucom {
    border: 0px solid violet;
    margin-left: 25px;
}

.abucom a {
    color: green;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

/* menu */
.menu {
    top: 75px;
    left: 0;
    right: 0;
    border: 0px solid violet;
    padding: 20px;
    position: absolute;
}

.menu ul {
    list-style: none;
}

.menu a {
    color: black;
    padding: 10px 0;
    display: block;
    text-align: center;
    text-decoration: none;
}

/* hamburger */
.hamburger {
    border: 0px solid violet;
    display: grid;
    margin-right: 25px;
}

.hamburger button {
    cursor: pointer;
    border-width: 0;
    background-color: hsla(120, 100%, 50%, 0);
}

.hamburger span {
    width: 30px;
    height: 3px;
    margin: 2px 0;
    display: block;
    transition: margin .3s;
    background-color: black;
}

.active > button > span {
    margin: 4px 0;
}










/* MAIN */
main {
    top: 3px;
    width: 100%;
    height: 100vh;
    border: 0px solid red;
    position: relative;
    transition: top .3s;
    background-color: hsla(120, 100%, 100%, 1);
}

main.active {
    top: 150px;
}